* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #191765;
  color: #fff;
  position: relative;
}

body > img {
  position: absolute;
  top: 237px;
  left: 69px;
  width: 184px;
  height: 184px;
}

#c2 {
  top: 546px;
  left: calc(100% - 215px);
  width: 226px;
  height: 226px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  /* margin: 0 142px 0 142px; */

  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
}

/* This is the mobile version */

/* The navigation menu */
nav .logo {
  flex: 4 1 75%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

nav ul.nav-links {
  width: 100%;
  display: none;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

i input:checked ~ ul.nav-links {
  display: flex;
}

footer {
  border-top: 1px solid #3a3837;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-bottom: 40px;
}

/* Baga button */
i {
  text-align: end;
  width: 25%;
  position: relative;
}

i input {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

/* The headline */
header.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.headline hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.headline h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

.headline h4 {
  font-weight: 500;
  font-size: 32px;

  /* line-height: 44px; */
  color: #edecff;
}

div.description {
  padding: 20px 25px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

div.lists-list {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  min-height: 362px;
  min-width: 80%;
}

section.list-section {
  flex: 2 2 50%;
  min-height: 10%;
}

section.list-section h5 {
  font-weight: 500;
  font-size: 12px;
  line-height: 39px;
  color: #9490ff;
}

section.list-section li {
  font-weight: normal;
  font-size: 15px;
  line-height: 39px;
  color: #f5f5ff;
}

div.headline-footer {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 48px;
}

.headline-footer > a {
  display: inline-block;
  color: #a2a3ae;
  text-align: center;
  padding: 10px 0;
  font-size: 32px;
}

.headline-footer > a.first {
  display: none;
}

/* Work Section */
section.work-content h1 {
  color: #9490ff;
}

.card {
  display: flex;
  flex-direction: column;
}

.card section {
  margin-top: 10px;
}

.card h3 {
  font-weight: 500;
  line-height: 105px;
  font-size: 32px;
  height: 105px;

  /* padding: 20px 0 10px; */
  font-style: normal;
}

.card p,
.contacts p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  height: 204px;
  width: 327px;
}

/* style for contact section */

.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 71px;
}

section.contacts h1 {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
  text-align: center;
}

section.contacts p {
  margin-top: 14px;
  text-align: center;
  width: 327px;
  height: 105px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  align-self: center;
}

.contacts form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.contacts input {
  padding: 15px 16px;
  min-width: 327px;
  margin-bottom: 24px;
  outline: none;
}

.contacts textarea {
  padding: 12px;
  margin-bottom: 40px;
  resize: none;
  width: 327px;
  height: 148px;
  outline: none;
}

.contacts .btn {
  min-width: 30%;
  line-height: 0;
  outline: none;
  border: none;
}

.social-footer {
  display: flex;
  gap: 23px;
  justify-content: center;
  align-content: center;
  margin-top: 25px;
}
