* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #191765;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav, header {
  margin: 0px 142px 0 142px;
}

li>a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  color: white;
  }

/* Wrapper */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* nav bar */
nav.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-nav ul {
  display: flex;
  justify-content: space-between;
}

.flex-nav a:hover {
  background-color: #7D73FC7A;
}

/* a divider */
div.divider {
  width: 100%;
  padding: .5px;
  height: 1px;
  background-color: #646369;
}

/* Headline section */
header.headline {
  flex-grow:10; 
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headline h1 {
  color: #9391FF;
}

.headline h2 {
  color: #DFE1E6;
}

.headline div.itemization{
  display: flex;
}

.headline .itemize {
  display: flex;
  flex-direction: column;
    /* justify-content: center; */
  align-items: center;
}

.headline ul.social {
  display: flex;
}

.headline .social a:hover {
  color: #9390FF;
}

.itemization h5 {
  color: #9390FF;
}